"*":
  "exception-reporting":
    userId: "e12a626e-9d36-6c48-6230-6e6a888fe5d2"
  welcome:
    showOnStartup: false
  editor:
    fontSize: 16
    invisibles: {}
    tabLength: 4
    showIndentGuide: true
    showInvisibles: true
  "atom-beautify":
    _analyticsUserId: "c61fa1d5-9da8-470a-918a-484656aae7e5"
  core:
    themes: [
      "atom-dark-ui"
      "sub-monokai"
    ]
    ignoredNames: [
      "*.pyc"
      "*.pyo"
      "*.vagrant*"
      "*.git*"
      ""
    ]
  "tree-view":
    hideIgnoredNames: true
