{
    "telemetry.enableCrashReporter": false,
    "telemetry.enableTelemetry": false,
    "window.zoomLevel": -1,
    "window.menuBarVisibility": "toggle", // press `alt` key to show menu bar
    "files.exclude": {
        "**/.git": true,
        "**/.svn": true,
        "**/.hg": true,
        "**/CVS": true,
        "**/.DS_Store": true,
        "**/*.pyc": true
    },
    "breadcrumbs.enabled": true,
    "editor.formatOnSave": true,
    "editor.minimap.enabled": false,
    "editor.suggestSelection": "first",
    "editor.quickSuggestions": {
        "other": true,
        "comments": true,
        "strings": true
    },
    // docs: https://github.com/golang/tools/blob/master/gopls/doc/settings.md
    //       https://github.com/golang/vscode-go/blob/master/docs/settings.md
    "go.useLanguageServer": true,
    // -- perf: the following are disabled to try and improve perfomance
    "go.buildOnSave": "off",
    "go.coverOnTestPackage": false,
    "go.lintOnSave": "off",
    "go.vetOnSave": "off",
    "go.formatTool": "gofmt",
    // -- perf:
    "[go]": {
        "editor.snippetSuggestions": "none",
        "editor.formatOnSave": true,
        "editor.codeActionsOnSave": {
            "source.organizeImports": true
        },
    },
    // docs: https://github.com/golang/tools/blob/master/gopls/doc/settings.md
    //       https://github.com/golang/vscode-go/blob/master/docs/settings.md
    "gopls": {
        "ui.completion.usePlaceholders": true, // add parameter placeholders when completing a function
        // ----- Experimental settings -----
        // opts a user into the experimental support for multi-module workspaces.
        // https://github.com/golang/go/issues/32394#issuecomment-704743836
        "build.experimentalWorkspaceModule": true,
        // ----- Experimental settings -----
    },
    // python docs: https://code.visualstudio.com/docs/python/settings-reference
    "python.linting.pylintArgs": [
        "--load-plugins",
        "pylint_django",
        "--enable=E",
        "--disable=W,R,C",
        "--unsafe-load-any-extension=y"
    ],
    "python.formatting.autopep8Args": [
        "--experimental",
        "--in-place",
        "-r",
        "-aaaaaaaaaa"
    ],
    "python.formatting.blackArgs": [
        "--line-length=100",
        "--py36"
    ],
    "python.formatting.provider": "black",
    "python.autoComplete.addBrackets": true,
    "python.analysis.completeFunctionParens": true,
    "python.languageServer": "Pylance",
    "python.defaultInterpreterPath": "python",
    "python.venvFolders": [
        "envs",
        ".pyenv",
        ".direnv",
        ".virtualenvs",
        ".venv"
    ],
    // https://github.com/Dart-Code/Dart-Code/blob/master/package.json
    "dart.allowAnalytics": false,
    "dart.debugExternalLibraries": true,
    "dart.debugSdkLibraries": true,
}