{
    "go.useCodeSnippetsOnFunctionSuggest": true,
    "go.autocompleteUnimportedPackages": true,
    "go.useLanguageServer": true,
    "window.zoomLevel": -2,
    "python.formatting.autopep8Args": [
        "--experimental",
        "--in-place",
        "-r",
        "-aaaaaaaaaa"
    ],
    "editor.formatOnSave": true,
    "python.linting.pylintArgs": [
        "--load-plugins",
        "pylint_django",
        "--enable=E",
        "--disable=W,R,C"
    ],
    "editor.minimap.enabled": false,
    "python.linting.enabledWithoutWorkspace": false,
    "python.disablePromptForFeatures": [
        "pylint"
    ]
}
