{
 "env": {
  "AUTO_CD": true,
  "AUTO_SUGGEST": true,
  "COMPLETIONS_CONFIRM": true,
  "INDENT": "\"\"\"    \"\"\"",
  "MULTILINE_PROMPT": "\"\"\".\"\"\"",
  "SHELL_TYPE": "prompt_toolkit",
  "XONSH_CACHE_EVERYTHING": true,
  "XONSH_SHOW_TRACEBACK": true,
  "PATH": ["$HOME/.nvm/bin/", "$HOME/mystuff/gocode/bin", "$HOME/go/bin", "/usr/local/sbin", "/usr/local/bin", "/usr/sbin", "/usr/bin", "/sbin:/bin", "/usr/games", "/usr/local/games", "/snap/bin", "/usr/local/go/bin", "/usr/local/go/bin", "/usr/local/lib/python2.7/dist-packages", "/usr/local/lib/python3.5/dist-packages"]
 },
 "foreign_shells": [
  {
   "shell": "bash"
  }
 ]
}
