alias ckill='docker ps -aq | xargs docker rm -f'
alias cstop='docker stop $(docker ps -a -q)'
alias cupb='docker-compose up --build'
alias cup='docker-compose up'
alias git st='git status'
alias git ci='git commit'

# hack
export WORKON_HOME=$HOME/.virtualenvs
source /usr/local/bin/virtualenvwrapper.sh
