Host *.github.com
  ForwardAgent yes

Host *.bitbucket.org
  ForwardAgent yes

# ForwardAgent is harmful
# https://heipei.io/2015/02/26/SSH-Agent-Forwarding-considered-harmful/

ServerAliveInterval 60
