{
 "env": {
  "AUTO_CD": true,
  "AUTO_SUGGEST": true,
  "COMPLETIONS_CONFIRM": true,
  "INDENT": "\"\"\"    \"\"\"",
  "MULTILINE_PROMPT": "\"\"\".\"\"\"",
  "SHELL_TYPE": "prompt_toolkit",
  "XONSH_CACHE_EVERYTHING": true,
  "XONSH_SHOW_TRACEBACK": true,
  "PATH": ["/usr/bin", "/bin", "/usr/sbin", "/sbin", "/usr/local/bin", "/Library/Python/2.7/site-packages"]
 },
 "foreign_shells": [
  {
   "shell": "bash"
  }
 ]
}
